:root
{
	/*background-image: url(photos/a1.jpg);*/
	/*background-size: cover;
*/
  background:linear-gradient(to right, white, lightgray, gray);
  --rc: red;
  --bc: blue;
  --gc: gray;
  --gc: green;
  --wc: white;
  --bcc: black;
  
}

body
{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.container
{
	/*position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);*/
	width: 50vw;
	box-sizing: border-box;
	background: linear-gradient(to right,white,lightgray, gray);
	/*opacity: 0.75;*/
	padding: 1rem;
	border: 0.5px solid pink;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.5rem;
	box-shadow: 2px 2px 5px 2px black;
	animation: borderchange 4s ease-out infinite;
}

.buttons 
{
	padding: 0.5rem 0.6rem;
	transition: all 0.25s ease;
	box-shadow: 2px 2px 7px 0.5px black;
}

.buttons:hover
{
	background-color: orange;
	/*transform: scale(0.90);*/
	transition: all 0.45s ease;

}

.output
{
	grid-column: 1/-1;
	text-align: center;
	color:gray;
	padding: 0.5rem;
}

.output::placeholder
{
	text-align: center;
}

.operator
{
	background-color: lightgray;
}


.clear,.total
{
	background: gray;
	border: none;
}

.container2
{
	position: absolute;
	top: 25%;
	left:45%;
    transform: translate(-25%,-50%);
    color: gray;
    padding:0 0.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border:none;
    background: white;

   
}


@keyframes borderchange
{
0%
{
	border-color: var(--rc);
    

}
50%
{
	border-color: var(--gc);

}
100%
{
	border-color: var(--bc);

}

}

.container3
{
    position: absolute;
	bottom: 15%;
	left:35%;
    transform: translate(-25%,-50%);
    color: gray;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border:none;
    background: white;
}

.container3 .exp
{
	padding: 0.5rem;
}